.App {
  text-align: center;
}

.about {

}

.home {

}

.resources {

}

.blog {

}

.bloglist {

}

.body {
  background-color: steelblue;
}

.footer {
  
}

.header {
  
}

.nav {
  display: block;
   float: left;
}

.ticker {
    float: left;
    word-spacing: 10px;
}





@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
