.App {
  text-align: center;
  background-color: #FFE4C4;
}

html {
  background-color: #FFE4C4;
}

a {
  text-decoration: none;
  color: green;
}

#blogE {
  font-size: 28px;
}

#blogE:hover {
  background-color: orange;
  display: inline;
  text-decoration: underline;
  font-weight: 10px

}

.ticker {
	color: #228B22;
	text-align: center;
  font-family: Georgia;
  font-size: 16px;
	display: block;
	position: center;  margin-top: 0cm;
  float: left;
  overflow: hidden;
  text-decoration: none;
  word-spacing: 10px;
  list-style-type: none;
  margin-left: 3cm;
}

.footer {
  margin-top: 100px;

}

.price {
  color: green;
}

.submitTitle{
   width: 40%;
   padding-bottom: 10px;
}

.submitPost {
   width: 40%;
   height: 120px;
}

.submitButton {
  border-radius: 4px;
  font-size: 16px;
  background-color: steelblue;
}

.tickerInner {
  display: block;
    color: black;
    text-align: center;
    padding: 0px 0px;
    text-decoration: none;
    float: left;
    list-style-type: none;
}

.about {
   font-family: Georgia;
   font-size: 20px;
   background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
   position: center;  margin-top: 6cm;
}

.home {

}

.resources {
  background: linear-gradient(to top left, #0000cc 0%, #ccffff 100%);
  position: center;  margin-top: 6cm;
}

.blog {
  
}

.blogTitle {
   font-family: Georgia;
   font-size: 18px;
   color: #006400;
   display: block;
}

.blogList {
  margin-top: 3cm;
  font-family: Helvetica;
  font-size: 36px;
}

section {
  text-align: center;
}



.body {
  background-color: steelblue;
}

.footer {
  font-family: Helvetica;
}

.header {

}

.nav {
  display: block;
   float: left;
}

#createTab {
  margin-left: 20cm;
  background-color: steelblue;
  color: black;
}

.navbarInner {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-size: 18px;

}

li {
    float: left;
    padding: 2px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover {
    background-color: #FF8C00;
}

.postTitle {
  margin-top: 3cm;
}

.blogWelcome {
  font-family: Helvetica;
  font-size: 40px;
}

.editName {
  width: 40%;
}

.editContent {
  width: 40%;
   height: 120px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
